<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TextToScreen.Properties.Ustawienia"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <userSettings>
    <TextToScreen.Properties.Ustawienia>
      <setting name="ScreenFontAlignment" serializeAs="String">
        <value>MiddleCenter</value>
      </setting>
      <setting name="ScreenFontFamily" serializeAs="String">
        <value>Arial</value>
      </setting>
      <setting name="ScreenFontSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="AutoOknoGlownePozycja" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="AutoOknoDocelowePozycja" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="OknoGlowneFull" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OknoGlowneTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OknoDoceloweFull" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OknoDoceloweTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OknoGlowneKeysNumbers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OknoGlowneKeysArrows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OknoDoceloweHideCursor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScreenFadeSpeed" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="ScreenForegroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="ScreenBackgroundColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="GeneralStartAction" serializeAs="String">
        <value>OpenRecent</value>
      </setting>
      <setting name="GeneralStartPath" serializeAs="String">
        <value />
      </setting>
      <setting name="GeneralHistoryEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GeneralHistoryPoints" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AutoOknoDoceloweRozmiar" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="AutoOknoGlowneRozmiar" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="AutoOknoGlowneMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoOknoDoceloweMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OknoGlowneInnePokazujPelnaSciezkeArchiwum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OknoGlowneInnePokazujPasekPostepuPrzejscia" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GeneralInneDostepZewnetrznyDoArchiwum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GeneralInneSprawdzajZewnetrzneZmiany" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_FirstStartCompleted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OtwarteArchiwum" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoRecentItems" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Example Song Archive.zip</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ScreenFontBold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScreenFontItalic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScreenFontUnderline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScreenImagePath" serializeAs="String">
        <value />
      </setting>
    </TextToScreen.Properties.Ustawienia>
  </userSettings>
</configuration>